n8n/docugithub_v2.json
{
    "name": "DocuGithub - n8n v2.3 Compatible",
    "nodes": [
        {
            "parameters": {
                "content": "## DocuGithub Workflow\n\n✅ Uses n8n Google Gemini node (Message a model)\n✅ Auth0 JWT validation on all webhooks\n✅ GitHub OAuth2 for repo access\n✅ Supabase for data storage\n\n⚠️ Replace YOUR_AUTH0_TENANT with your Auth0 domain",
                "height": 180,
                "width": 340
            },
            "id": "sticky-note",
            "name": "Workflow Info",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -800,
                -200
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "analyze",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-analyze",
            "name": "Webhook: Analyze",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -600,
                0
            ],
            "webhookId": "analyze"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://YOUR_AUTH0_TENANT.auth0.com/userinfo",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $json.headers.authorization }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "auth0-analyze",
            "name": "Auth0: Verify",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -380,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.sub }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-auth-analyze",
            "name": "IF: Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -160,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: 'Unauthorized' }) }}",
                "options": {
                    "responseCode": 401
                }
            },
            "id": "respond-401",
            "name": "401 Unauthorized",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -160,
                200
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "documentation_sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Webhook: Analyze').item.json.body.sessionId }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "status",
                            "fieldValue": "analyzing"
                        }
                    ]
                }
            },
            "id": "supabase-set-analyzing",
            "name": "Supabase: Set Status",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                60,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "resource": "repository",
                "operation": "get",
                "owner": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Analyze').item.json.body.owner }}"
                },
                "repository": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Analyze').item.json.body.repo }}"
                }
            },
            "id": "github-get-repo",
            "name": "GitHub: Get Repo",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                280,
                0
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_ID",
                    "name": "GitHub OAuth2"
                }
            }
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://api.github.com/repos/{{ $('Webhook: Analyze').item.json.body.owner }}/{{ $('Webhook: Analyze').item.json.body.repo }}/zipball",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "githubOAuth2Api",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "DocuGithub"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    },
                    "redirect": {
                        "redirect": {
                            "followRedirects": true
                        }
                    }
                }
            },
            "id": "download-zip",
            "name": "Download Zip",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                0
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_ID",
                    "name": "GitHub OAuth2"
                }
            }
        },
        {
            "parameters": {
                "operation": "decompress",
                "binaryPropertyName": "data"
            },
            "id": "unzip",
            "name": "Extract Zip",
            "type": "n8n-nodes-base.compression",
            "typeVersion": 1,
            "position": [
                720,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst files = [];\nconst IGNORE = ['node_modules/', '.git/', 'dist/', 'build/', '.next/', '__pycache__/'];\nconst EXTS = ['.ts', '.tsx', '.js', '.jsx', '.py', '.go', '.rs', '.java', '.json', '.yaml', '.yml', '.md'];\nfor (const item of items) {\n  const f = item.json.fileName || '';\n  if (IGNORE.some(p => f.includes(p))) continue;\n  if (EXTS.some(ext => f.endsWith(ext))) files.push(f);\n}\nreturn [{ json: { fileStructure: files.slice(0, 100).join('\\n'), fileCount: files.length } }];"
            },
            "id": "filter-files",
            "name": "Filter Files",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                940,
                0
            ]
        },
        {
            "parameters": {
                "resource": "text",
                "operation": "message",
                "modelId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "models/gemini-1.5-flash"
                },
                "text": "=You are a Senior Software Architect analyzing a codebase.\n\nFile Structure:\n{{ $json.fileStructure }}\n\nProvide:\n1. Tech Stack\n2. Architecture\n3. Key Components\n4. Project Type\n5. Notable Files\n\nOutput in Markdown format."
            },
            "id": "gemini-analyze",
            "name": "Gemini: Analyze",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                1160,
                0
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "YOUR_GEMINI_ID",
                    "name": "Google Gemini"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "documentation_sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Webhook: Analyze').item.json.body.sessionId }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "analysis_summary",
                            "fieldValue": "={{ $json.text }}"
                        },
                        {
                            "fieldName": "status",
                            "fieldValue": "analyzed"
                        }
                    ]
                }
            },
            "id": "supabase-save-analysis",
            "name": "Supabase: Save Analysis",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1380,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, summary: $json.analysis_summary }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-analyze",
            "name": "Respond: Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1600,
                0
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-generate",
            "name": "Webhook: Generate",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -600,
                400
            ],
            "webhookId": "generate"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://YOUR_AUTH0_TENANT.auth0.com/userinfo",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $json.headers.authorization }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "auth0-generate",
            "name": "Auth0: Verify",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -380,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.sub }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-auth-generate",
            "name": "IF: Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -160,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: 'Unauthorized' }) }}",
                "options": {
                    "responseCode": 401
                }
            },
            "id": "respond-401-gen",
            "name": "401 Unauthorized",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -160,
                600
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "documentation_sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Webhook: Generate').item.json.body.sessionId }}"
                        }
                    ]
                }
            },
            "id": "supabase-get-session",
            "name": "Supabase: Get Session",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                60,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "resource": "text",
                "operation": "message",
                "modelId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "models/gemini-1.5-pro"
                },
                "text": "=You are an expert Technical Writer.\n\nProject Analysis:\n{{ $json.analysis_summary }}\n\nGenerate a comprehensive README.md with:\n1. Project Title with badges\n2. Description\n3. Table of Contents\n4. Installation\n5. Usage with code examples\n6. Configuration\n7. Contributing\n8. License\n\nOutput raw Markdown only."
            },
            "id": "gemini-generate",
            "name": "Gemini: Generate",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                280,
                400
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "YOUR_GEMINI_ID",
                    "name": "Google Gemini"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "documentation_sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Webhook: Generate').item.json.body.sessionId }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "final_markdown",
                            "fieldValue": "={{ $json.text }}"
                        },
                        {
                            "fieldName": "status",
                            "fieldValue": "generated"
                        }
                    ]
                }
            },
            "id": "supabase-save-doc",
            "name": "Supabase: Save Doc",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                500,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, markdown: $json.final_markdown }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-generate",
            "name": "Respond: Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                720,
                400
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "publish",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-publish",
            "name": "Webhook: Publish",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -600,
                800
            ],
            "webhookId": "publish"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://YOUR_AUTH0_TENANT.auth0.com/userinfo",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $json.headers.authorization }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "auth0-publish",
            "name": "Auth0: Verify",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -380,
                800
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.sub }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-auth-publish",
            "name": "IF: Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -160,
                800
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: 'Unauthorized' }) }}",
                "options": {
                    "responseCode": 401
                }
            },
            "id": "respond-401-pub",
            "name": "401 Unauthorized",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -160,
                1000
            ]
        },
        {
            "parameters": {
                "resource": "file",
                "operation": "get",
                "owner": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Publish').item.json.body.owner }}"
                },
                "repository": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Publish').item.json.body.repo }}"
                },
                "filePath": "README.md"
            },
            "id": "github-check-readme",
            "name": "GitHub: Check README",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                60,
                800
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_ID",
                    "name": "GitHub OAuth2"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.sha }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-file-exists",
            "name": "IF: Exists?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                280,
                800
            ]
        },
        {
            "parameters": {
                "resource": "file",
                "operation": "edit",
                "owner": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Publish').item.json.body.owner }}"
                },
                "repository": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Publish').item.json.body.repo }}"
                },
                "filePath": "README.md",
                "fileContent": "={{ $('Webhook: Publish').item.json.body.content }}",
                "commitMessage": "docs: Update README via DocuGithub"
            },
            "id": "github-update",
            "name": "GitHub: Update",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                500,
                700
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_ID",
                    "name": "GitHub OAuth2"
                }
            }
        },
        {
            "parameters": {
                "resource": "file",
                "operation": "create",
                "owner": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Publish').item.json.body.owner }}"
                },
                "repository": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Publish').item.json.body.repo }}"
                },
                "filePath": "README.md",
                "fileContent": "={{ $('Webhook: Publish').item.json.body.content }}",
                "commitMessage": "docs: Create README via DocuGithub"
            },
            "id": "github-create",
            "name": "GitHub: Create",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                500,
                900
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_ID",
                    "name": "GitHub OAuth2"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "documentation_sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Webhook: Publish').item.json.body.sessionId }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "status",
                            "fieldValue": "published"
                        }
                    ]
                }
            },
            "id": "supabase-published",
            "name": "Supabase: Published",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                720,
                800
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Published!' }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-publish",
            "name": "Respond: Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                940,
                800
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-edit",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-ai-edit",
            "name": "Webhook: AI Edit",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -600,
                1200
            ],
            "webhookId": "ai-edit"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://YOUR_AUTH0_TENANT.auth0.com/userinfo",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $json.headers.authorization }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "auth0-ai-edit",
            "name": "Auth0: Verify",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -380,
                1200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.sub }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-auth-ai-edit",
            "name": "IF: Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -160,
                1200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: 'Unauthorized' }) }}",
                "options": {
                    "responseCode": 401
                }
            },
            "id": "respond-401-edit",
            "name": "401 Unauthorized",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -160,
                1400
            ]
        },
        {
            "parameters": {
                "resource": "text",
                "operation": "message",
                "modelId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "models/gemini-1.5-flash"
                },
                "text": "=Edit this text:\n{{ $('Webhook: AI Edit').item.json.body.selectedText }}\n\nInstruction: {{ $('Webhook: AI Edit').item.json.body.instruction }}\n\nReturn ONLY the edited text, nothing else."
            },
            "id": "gemini-edit",
            "name": "Gemini: Edit",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                60,
                1200
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "YOUR_GEMINI_ID",
                    "name": "Google Gemini"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, editedText: $json.text }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-ai-edit",
            "name": "Respond: Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                280,
                1200
            ]
        }
    ],
    "connections": {
        "Webhook: Analyze": {
            "main": [
                [
                    {
                        "node": "Auth0: Verify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Auth0: Verify": {
            "main": [
                [
                    {
                        "node": "IF: Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF: Valid?": {
            "main": [
                [
                    {
                        "node": "Supabase: Set Status",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "401 Unauthorized",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Set Status": {
            "main": [
                [
                    {
                        "node": "GitHub: Get Repo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub: Get Repo": {
            "main": [
                [
                    {
                        "node": "Download Zip",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Zip": {
            "main": [
                [
                    {
                        "node": "Extract Zip",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Zip": {
            "main": [
                [
                    {
                        "node": "Filter Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Files": {
            "main": [
                [
                    {
                        "node": "Gemini: Analyze",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Analyze": {
            "main": [
                [
                    {
                        "node": "Supabase: Save Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Save Analysis": {
            "main": [
                [
                    {
                        "node": "Respond: Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook: Generate": {
            "main": [
                [
                    {
                        "node": "Auth0: Verify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Get Session": {
            "main": [
                [
                    {
                        "node": "Gemini: Generate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Generate": {
            "main": [
                [
                    {
                        "node": "Supabase: Save Doc",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Save Doc": {
            "main": [
                [
                    {
                        "node": "Respond: Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook: Publish": {
            "main": [
                [
                    {
                        "node": "Auth0: Verify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub: Check README": {
            "main": [
                [
                    {
                        "node": "IF: Exists?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF: Exists?": {
            "main": [
                [
                    {
                        "node": "GitHub: Update",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "GitHub: Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub: Update": {
            "main": [
                [
                    {
                        "node": "Supabase: Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub: Create": {
            "main": [
                [
                    {
                        "node": "Supabase: Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Published": {
            "main": [
                [
                    {
                        "node": "Respond: Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook: AI Edit": {
            "main": [
                [
                    {
                        "node": "Auth0: Verify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Edit": {
            "main": [
                [
                    {
                        "node": "Respond: Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": false
}