n8n/n8n_workflow_complete.json
{
    "name": "DocuGithub Backend (Built-in Nodes)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "analyze",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-analyze",
            "name": "Webhook: Analyze",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "analyze"
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "documentation_sessions",
                "matchingColumns": [
                    "id"
                ],
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "id": "={{ $json.body.sessionId }}",
                        "status": "analyzing"
                    }
                }
            },
            "id": "supabase-analyzing",
            "name": "Supabase: Set Analyzing",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                220,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "owner": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Analyze').item.json.body.owner }}"
                },
                "repository": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Analyze').item.json.body.repo }}"
                },
                "resource": "repository",
                "operation": "get"
            },
            "id": "github-get-repo",
            "name": "GitHub: Get Repository",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                440,
                0
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_OAUTH_CREDENTIAL",
                    "name": "GitHub OAuth2"
                }
            }
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://api.github.com/repos/{{ $('Webhook: Analyze').item.json.body.owner }}/{{ $('Webhook: Analyze').item.json.body.repo }}/zipball",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "githubOAuth2Api",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "DocuGithub-n8n"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    },
                    "redirect": {
                        "redirect": {
                            "followRedirects": true
                        }
                    }
                }
            },
            "id": "http-download-zip",
            "name": "HTTP: Download Zip",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                0
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_OAUTH_CREDENTIAL",
                    "name": "GitHub OAuth2"
                }
            }
        },
        {
            "parameters": {
                "operation": "decompress",
                "binaryPropertyName": "data"
            },
            "id": "unzip",
            "name": "Extract Zip",
            "type": "n8n-nodes-base.compression",
            "typeVersion": 1,
            "position": [
                880,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst relevantFiles = [];\n\nconst IGNORE = ['node_modules/', '.git/', 'dist/', 'build/', '.next/', '.ico', '.png', '.jpg', '.svg', 'package-lock.json', 'yarn.lock'];\nconst EXTENSIONS = ['.ts', '.tsx', '.js', '.jsx', '.py', '.go', '.rs', '.java', '.json', '.yaml', '.yml', '.md'];\n\nfor (const item of items) {\n  const f = item.json.fileName || '';\n  if (IGNORE.some(p => f.includes(p))) continue;\n  if (EXTENSIONS.some(ext => f.endsWith(ext))) relevantFiles.push(f);\n}\n\nreturn [{ json: { fileStructure: relevantFiles.slice(0, 100).join('\\n'), fileCount: relevantFiles.length } }];"
            },
            "id": "filter-files",
            "name": "Filter Files",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a Senior Software Architect analyzing a codebase.\\n\\nFile Structure:\\n{{ $json.fileStructure }}\\n\\nAnalyze and provide:\\n1. Tech Stack\\n2. Architecture\\n3. Key Components\\n4. Project Type\\n5. Notable Files\\n\\nOutput in Markdown.\"\n    }]\n  }]\n}"
            },
            "id": "gemini-analyze",
            "name": "Gemini: Analyze",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1320,
                0
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "YOUR_GEMINI_CREDENTIAL",
                    "name": "Gemini API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || 'Analysis failed';\nreturn [{ json: { analysis: text } }];"
            },
            "id": "parse-gemini",
            "name": "Parse Gemini Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1540,
                0
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "documentation_sessions",
                "matchingColumns": [
                    "id"
                ],
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "id": "={{ $('Webhook: Analyze').item.json.body.sessionId }}",
                        "analysis_summary": "={{ $json.analysis }}",
                        "status": "analyzed"
                    }
                }
            },
            "id": "supabase-save-analysis",
            "name": "Supabase: Save Analysis",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1760,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, summary: $json.analysis }) }}"
            },
            "id": "respond-analyze",
            "name": "Respond: Analyze",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1980,
                0
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-generate",
            "name": "Webhook: Generate",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                400
            ],
            "webhookId": "generate"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "documentation_sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "equal",
                            "keyValue": "={{ $json.body.sessionId }}"
                        }
                    ]
                },
                "returnAll": false,
                "limit": 1
            },
            "id": "supabase-get-session",
            "name": "Supabase: Get Session",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                220,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "user_configs",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "session_id",
                            "condition": "equal",
                            "keyValue": "={{ $('Webhook: Generate').item.json.body.sessionId }}"
                        }
                    ]
                },
                "returnAll": false,
                "limit": 1
            },
            "id": "supabase-get-config",
            "name": "Supabase: Get Config",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                440,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an expert Technical Writer.\\n\\nProject Analysis:\\n{{ $('Supabase: Get Session').item.json.analysis_summary }}\\n\\nStyle: {{ $json.style || 'detailed' }}\\nTopics: {{ JSON.stringify($json.topics || ['Getting Started', 'Installation', 'Usage']) }}\\n\\nGenerate a comprehensive README.md with:\\n1. Project Title with badges\\n2. Description\\n3. Table of Contents\\n4. Getting Started\\n5. Usage with code examples\\n6. Configuration\\n7. Contributing\\n8. License\\n\\nOutput raw Markdown only.\"\n    }]\n  }]\n}"
            },
            "id": "gemini-generate",
            "name": "Gemini: Generate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                400
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "YOUR_GEMINI_CREDENTIAL",
                    "name": "Gemini API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '# README';\nreturn [{ json: { markdown: text } }];"
            },
            "id": "parse-readme",
            "name": "Parse README",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                400
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "documentation_sessions",
                "matchingColumns": [
                    "id"
                ],
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "id": "={{ $('Webhook: Generate').item.json.body.sessionId }}",
                        "final_markdown": "={{ $json.markdown }}",
                        "status": "generated"
                    }
                }
            },
            "id": "supabase-save-doc",
            "name": "Supabase: Save Doc",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1100,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, markdown: $json.markdown }) }}"
            },
            "id": "respond-generate",
            "name": "Respond: Generate",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1320,
                400
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "publish",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-publish",
            "name": "Webhook: Publish",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                800
            ],
            "webhookId": "publish"
        },
        {
            "parameters": {
                "owner": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $json.body.owner }}"
                },
                "repository": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $json.body.repo }}"
                },
                "resource": "file",
                "operation": "get",
                "filePath": "README.md"
            },
            "id": "github-check-readme",
            "name": "GitHub: Check README",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                220,
                800
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_OAUTH_CREDENTIAL",
                    "name": "GitHub OAuth2"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "owner": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Publish').item.json.body.owner }}"
                },
                "repository": {
                    "__rl": true,
                    "mode": "raw",
                    "value": "={{ $('Webhook: Publish').item.json.body.repo }}"
                },
                "resource": "file",
                "operation": "edit",
                "filePath": "README.md",
                "fileContent": "={{ $('Webhook: Publish').item.json.body.content }}",
                "commitMessage": "docs: update README.md via DocuGithub",
                "additionalParameters": {}
            },
            "id": "github-update-readme",
            "name": "GitHub: Update README",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                440,
                800
            ],
            "credentials": {
                "githubOAuth2Api": {
                    "id": "YOUR_GITHUB_OAUTH_CREDENTIAL",
                    "name": "GitHub OAuth2"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "documentation_sessions",
                "matchingColumns": [
                    "id"
                ],
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "id": "={{ $('Webhook: Publish').item.json.body.sessionId }}",
                        "status": "published"
                    }
                }
            },
            "id": "supabase-published",
            "name": "Supabase: Set Published",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                660,
                800
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'README.md published!' }) }}"
            },
            "id": "respond-publish",
            "name": "Respond: Publish",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                800
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-edit",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-ai-edit",
            "name": "Webhook: AI Edit",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                1200
            ],
            "webhookId": "ai-edit"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Edit this text: {{ $json.body.selectedText }}\\n\\nInstruction: {{ $json.body.instruction }}\\n\\nReturn ONLY the edited text.\"\n    }]\n  }]\n}"
            },
            "id": "gemini-edit",
            "name": "Gemini: Edit",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                1200
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "YOUR_GEMINI_CREDENTIAL",
                    "name": "Gemini API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\nreturn [{ json: { editedText: text } }];"
            },
            "id": "parse-edit",
            "name": "Parse Edit",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                1200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, editedText: $json.editedText }) }}"
            },
            "id": "respond-ai-edit",
            "name": "Respond: AI Edit",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                660,
                1200
            ]
        }
    ],
    "connections": {
        "Webhook: Analyze": {
            "main": [
                [
                    {
                        "node": "Supabase: Set Analyzing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Set Analyzing": {
            "main": [
                [
                    {
                        "node": "GitHub: Get Repository",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub: Get Repository": {
            "main": [
                [
                    {
                        "node": "HTTP: Download Zip",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP: Download Zip": {
            "main": [
                [
                    {
                        "node": "Extract Zip",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Zip": {
            "main": [
                [
                    {
                        "node": "Filter Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Files": {
            "main": [
                [
                    {
                        "node": "Gemini: Analyze",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Analyze": {
            "main": [
                [
                    {
                        "node": "Parse Gemini Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Gemini Response": {
            "main": [
                [
                    {
                        "node": "Supabase: Save Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Save Analysis": {
            "main": [
                [
                    {
                        "node": "Respond: Analyze",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook: Generate": {
            "main": [
                [
                    {
                        "node": "Supabase: Get Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Get Session": {
            "main": [
                [
                    {
                        "node": "Supabase: Get Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Get Config": {
            "main": [
                [
                    {
                        "node": "Gemini: Generate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Generate": {
            "main": [
                [
                    {
                        "node": "Parse README",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse README": {
            "main": [
                [
                    {
                        "node": "Supabase: Save Doc",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Save Doc": {
            "main": [
                [
                    {
                        "node": "Respond: Generate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook: Publish": {
            "main": [
                [
                    {
                        "node": "GitHub: Check README",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub: Check README": {
            "main": [
                [
                    {
                        "node": "GitHub: Update README",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GitHub: Update README": {
            "main": [
                [
                    {
                        "node": "Supabase: Set Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase: Set Published": {
            "main": [
                [
                    {
                        "node": "Respond: Publish",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook: AI Edit": {
            "main": [
                [
                    {
                        "node": "Gemini: Edit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Edit": {
            "main": [
                [
                    {
                        "node": "Parse Edit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Edit": {
            "main": [
                [
                    {
                        "node": "Respond: AI Edit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 4,
    "updatedAt": "2026-01-20T17:00:00.000Z",
    "versionId": "3"
}