n8n/user-preferences.json
{
  "name": "DocuGitHub - User Preferences",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "preferences",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Preferences",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "webhookId": "docugithub-preferences"
    },
    {
      "parameters": {
        "jsCode": "// Validate HMAC signature\nconst crypto = require('crypto');\n\nconst webhookSecret = $env.WEBHOOK_SECRET;\nconst signature = $input.first().json.headers['x-webhook-signature'];\nconst body = $input.first().json.body;\n\nif (!webhookSecret) {\n  throw new Error('WEBHOOK_SECRET environment variable not configured');\n}\n\nif (!signature) {\n  return [{ json: { valid: false, error: 'Missing signature header' } }];\n}\n\nconst expectedSignature = crypto\n  .createHmac('sha256', webhookSecret)\n  .update(JSON.stringify(body))\n  .digest('hex');\n\nconst isValid = crypto.timingSafeEqual(\n  Buffer.from(signature),\n  Buffer.from('sha256=' + expectedSignature)\n);\n\nreturn [{ json: { valid: isValid, body: body } }];"
      },
      "id": "validate-hmac",
      "name": "Validate HMAC Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "sig-valid",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.valid }}",
              "rightValue": ""
            }
          ]
        }
      },
      "id": "if-signature-valid",
      "name": "IF Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate and sanitize preferences\nconst body = $input.first().json.body;\nconst { session_id, preferences } = body;\n\nconst errors = [];\n\nif (!session_id) {\n  errors.push('session_id is required');\n}\n\nif (!preferences || typeof preferences !== 'object') {\n  errors.push('preferences object is required');\n}\n\n// Allowed values for validation\nconst ALLOWED_TONES = [\n  'professional', 'friendly', 'technical', 'casual', \n  'formal', 'concise', 'detailed', 'beginner-friendly'\n];\n\nconst ALLOWED_SECTIONS = [\n  'overview', 'installation', 'usage', 'api', 'configuration',\n  'contributing', 'license', 'changelog', 'faq', 'troubleshooting',\n  'testing', 'deployment', 'architecture', 'examples', 'roadmap',\n  'acknowledgments', 'security', 'support'\n];\n\nconst ALLOWED_BADGES = [\n  'license', 'version', 'build', 'coverage', 'downloads',\n  'stars', 'forks', 'issues', 'prs', 'contributors',\n  'last-commit', 'repo-size', 'code-size', 'dependencies',\n  'node-version', 'npm-version', 'python-version'\n];\n\nif (preferences) {\n  // Validate tone\n  if (preferences.tone && !ALLOWED_TONES.includes(preferences.tone)) {\n    errors.push(`Invalid tone: ${preferences.tone}. Allowed: ${ALLOWED_TONES.join(', ')}`);\n  }\n  \n  // Validate sections\n  if (preferences.sections) {\n    if (!Array.isArray(preferences.sections)) {\n      errors.push('sections must be an array');\n    } else {\n      const invalidSections = preferences.sections.filter(s => !ALLOWED_SECTIONS.includes(s));\n      if (invalidSections.length > 0) {\n        errors.push(`Invalid sections: ${invalidSections.join(', ')}. Allowed: ${ALLOWED_SECTIONS.join(', ')}`);\n      }\n    }\n  }\n  \n  // Validate badges\n  if (preferences.badges) {\n    if (!Array.isArray(preferences.badges)) {\n      errors.push('badges must be an array');\n    } else {\n      const invalidBadges = preferences.badges.filter(b => !ALLOWED_BADGES.includes(b));\n      if (invalidBadges.length > 0) {\n        errors.push(`Invalid badges: ${invalidBadges.join(', ')}. Allowed: ${ALLOWED_BADGES.join(', ')}`);\n      }\n    }\n  }\n  \n  // Validate include_toc\n  if (preferences.include_toc !== undefined && typeof preferences.include_toc !== 'boolean') {\n    errors.push('include_toc must be a boolean');\n  }\n}\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, errors } }];\n}\n\n// Sanitize and normalize preferences\nconst sanitizedPreferences = {\n  tone: preferences.tone || 'professional',\n  sections: preferences.sections || ['overview', 'installation', 'usage', 'contributing', 'license'],\n  badges: preferences.badges || ['license', 'version'],\n  include_toc: preferences.include_toc !== false,\n  custom_sections: preferences.custom_sections || [],\n  language: preferences.language || 'en',\n  emoji_style: preferences.emoji_style || 'minimal' // none, minimal, moderate, heavy\n};\n\nreturn [{ json: {\n  valid: true,\n  session_id,\n  preferences: sanitizedPreferences\n} }];"
      },
      "id": "validate-preferences",
      "name": "Validate & Sanitize Preferences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "prefs-valid",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.valid }}",
              "rightValue": ""
            }
          ]
        }
      },
      "id": "if-preferences-valid",
      "name": "IF Preferences Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [880, 200]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.session_id }}"
            }
          ]
        }
      },
      "id": "check-session-exists",
      "name": "Check Session Exists",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 100],
      "credentials": {
        "supabaseApi": {
          "id": "{{ $credentials.supabase }}",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "session-exists",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        }
      },
      "id": "if-session-exists",
      "name": "IF Session Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1320, 100]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('IF Preferences Valid').first().json.session_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "preferences",
              "fieldValue": "={{ JSON.stringify($('IF Preferences Valid').first().json.preferences) }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "preferences_set"
            },
            {
              "fieldName": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "update-session-preferences",
      "name": "Update Session Preferences",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1540, 0],
      "credentials": {
        "supabaseApi": {
          "id": "{{ $credentials.supabase }}",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, session_id: $('IF Preferences Valid').first().json.session_id, preferences: $('IF Preferences Valid').first().json.preferences }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_SIGNATURE', message: 'Invalid or missing webhook signature' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-invalid-signature",
      "name": "Respond - Invalid Signature",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [660, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_PREFERENCES', message: 'Invalid preferences', errors: $json.errors }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-invalid-preferences",
      "name": "Respond - Invalid Preferences",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'SESSION_NOT_FOUND', message: 'Session not found' }) }}",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-session-not-found",
      "name": "Respond - Session Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "content": "## DocuGitHub - User Preferences Workflow\n\n**Endpoint:** POST /webhook/preferences\n\n**Input:**\n```json\n{\n  \"session_id\": \"uuid\",\n  \"preferences\": {\n    \"tone\": \"professional|friendly|technical|...\",\n    \"sections\": [\"overview\", \"installation\", ...],\n    \"badges\": [\"license\", \"version\", ...],\n    \"include_toc\": true\n  }\n}\n```\n\n**Allowed Tones:**\nprofessional, friendly, technical, casual, formal, concise, detailed, beginner-friendly\n\n**Allowed Sections:**\noverview, installation, usage, api, configuration, contributing, license, changelog, faq, troubleshooting, testing, deployment, architecture, examples, roadmap, acknowledgments, security, support\n\n**Allowed Badges:**\nlicense, version, build, coverage, downloads, stars, forks, issues, prs, contributors, last-commit, repo-size, code-size, dependencies, node-version, npm-version, python-version",
        "height": 520,
        "width": 360
      },
      "id": "sticky-note",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-320, 40]
    }
  ],
  "connections": {
    "Webhook - Preferences": {
      "main": [
        [
          {
            "node": "Validate HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC Signature": {
      "main": [
        [
          {
            "node": "IF Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Signature Valid": {
      "main": [
        [
          {
            "node": "Validate & Sanitize Preferences",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Invalid Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Sanitize Preferences": {
      "main": [
        [
          {
            "node": "IF Preferences Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Preferences Valid": {
      "main": [
        [
          {
            "node": "Check Session Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Invalid Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Exists": {
      "main": [
        [
          {
            "node": "IF Session Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Exists": {
      "main": [
        [
          {
            "node": "Update Session Preferences",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Session Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session Preferences": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "DocuGitHub"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
