n8n/workflows/1-session-initialize.json
{
    "name": "DocuGithub 1 - Session Initialize",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "initialize",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook - Initialize",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                300
            ],
            "webhookId": "docugithub-initialize"
        },
        {
            "parameters": {
                "jsCode": "// Validate HMAC signature\nconst crypto = require('crypto');\n\nconst webhookSecret = $env.WEBHOOK_SECRET;\nconst signature = $input.first().json.headers['x-webhook-signature'];\nconst body = $input.first().json.body;\n\nif (!webhookSecret) {\n  throw new Error('WEBHOOK_SECRET environment variable not configured');\n}\n\nif (!signature) {\n  return [{ json: { valid: false, error: 'Missing signature header' } }];\n}\n\nconst expectedSignature = crypto\n  .createHmac('sha256', webhookSecret)\n  .update(JSON.stringify(body))\n  .digest('hex');\n\nconst isValid = crypto.timingSafeEqual(\n  Buffer.from(signature),\n  Buffer.from('sha256=' + expectedSignature)\n);\n\nreturn [{ json: { valid: isValid, body: body } }];"
            },
            "id": "validate-hmac",
            "name": "Validate HMAC Signature",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "sig-valid",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-signature-valid",
            "name": "IF Signature Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse and validate GitHub repo URL\nconst body = $input.first().json.body;\nconst { repo_url, session_id, user_id } = body;\n\nif (!repo_url) {\n  return [{ json: { valid: false, error: 'repo_url is required' } }];\n}\n\nif (!session_id) {\n  return [{ json: { valid: false, error: 'session_id is required' } }];\n}\n\n// Parse GitHub URL - supports multiple formats\nconst githubRegex = /^(?:https?:\\/\\/)?(?:www\\.)?github\\.com\\/([a-zA-Z0-9_-]+)\\/([a-zA-Z0-9_.-]+?)(?:\\.git)?\\/?$/;\nconst match = repo_url.match(githubRegex);\n\nif (!match) {\n  return [{ json: { \n    valid: false, \n    error: 'Invalid GitHub URL format. Expected: github.com/owner/repo' \n  } }];\n}\n\nconst [, owner, repo] = match;\n\nreturn [{ json: { \n  valid: true,\n  owner,\n  repo,\n  session_id,\n  user_id: user_id || null,\n  repo_url\n} }];"
            },
            "id": "parse-repo-url",
            "name": "Parse & Validate Repo URL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "url-valid",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-url-valid",
            "name": "IF URL Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                880,
                200
            ]
        },
        {
            "parameters": {
                "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/vnd.github+json"
                        },
                        {
                            "name": "X-GitHub-Api-Version",
                            "value": "2022-11-28"
                        },
                        {
                            "name": "User-Agent",
                            "value": "DocuGitHub-n8n"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "neverError": true
                        }
                    }
                }
            },
            "id": "check-repo-exists",
            "name": "Check Repo Exists (GitHub API)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1100,
                100
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_GITHUB_TOKEN_ID",
                    "name": "GitHub Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Process GitHub API response\nconst response = $input.first().json;\nconst prevData = $('IF URL Valid').first().json;\n\nconst statusCode = response.statusCode;\nconst repoData = response.body;\n\nif (statusCode === 404) {\n  return [{ json: { \n    exists: false,\n    error: 'Repository not found',\n    ...prevData\n  } }];\n}\n\nif (statusCode === 403) {\n  return [{ json: { \n    exists: false,\n    error: 'Access denied - repository may be private or rate limit exceeded',\n    is_private: true,\n    requires_auth: true,\n    ...prevData\n  } }];\n}\n\nif (statusCode !== 200) {\n  return [{ json: { \n    exists: false,\n    error: `GitHub API error: ${statusCode}`,\n    ...prevData\n  } }];\n}\n\n// Repo exists and is accessible\nreturn [{ json: {\n  exists: true,\n  is_private: repoData.private || false,\n  default_branch: repoData.default_branch || 'main',\n  description: repoData.description,\n  language: repoData.language,\n  stars: repoData.stargazers_count,\n  forks: repoData.forks_count,\n  size_kb: repoData.size,\n  topics: repoData.topics || [],\n  license: repoData.license?.spdx_id || null,\n  ...prevData\n} }];"
            },
            "id": "process-repo-response",
            "name": "Process Repo Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1320,
                100
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "repo-exists",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.exists }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-repo-exists",
            "name": "IF Repo Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                1540,
                100
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "sessions",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "id",
                            "fieldValue": "={{ $json.session_id }}"
                        },
                        {
                            "fieldName": "user_id",
                            "fieldValue": "={{ $json.user_id }}"
                        },
                        {
                            "fieldName": "repo_owner",
                            "fieldValue": "={{ $json.owner }}"
                        },
                        {
                            "fieldName": "repo_name",
                            "fieldValue": "={{ $json.repo }}"
                        },
                        {
                            "fieldName": "repo_url",
                            "fieldValue": "={{ $json.repo_url }}"
                        },
                        {
                            "fieldName": "is_private",
                            "fieldValue": "={{ $json.is_private }}"
                        },
                        {
                            "fieldName": "default_branch",
                            "fieldValue": "={{ $json.default_branch }}"
                        },
                        {
                            "fieldName": "status",
                            "fieldValue": "initialized"
                        },
                        {
                            "fieldName": "repo_metadata",
                            "fieldValue": "={{ JSON.stringify({ description: $json.description, language: $json.language, stars: $json.stars, forks: $json.forks, size_kb: $json.size_kb, topics: $json.topics, license: $json.license }) }}"
                        }
                    ]
                }
            },
            "id": "create-session",
            "name": "Create Session in Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1760,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Build success response\nconst sessionData = $('IF Repo Exists').first().json;\n\nconst limitations = [];\n\nif (sessionData.is_private && !sessionData.user_id) {\n  limitations.push('Private repository requires GitHub OAuth authentication');\n}\n\nif (sessionData.size_kb > 102400) {\n  limitations.push('Large repository - analysis may be limited to key files');\n}\n\nreturn [{ json: {\n  success: true,\n  session_id: sessionData.session_id,\n  repo_info: {\n    owner: sessionData.owner,\n    repo: sessionData.repo,\n    is_private: sessionData.is_private,\n    default_branch: sessionData.default_branch,\n    description: sessionData.description,\n    language: sessionData.language,\n    stars: sessionData.stars,\n    topics: sessionData.topics\n  },\n  limitations\n} }];"
            },
            "id": "build-success-response",
            "name": "Build Success Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1980,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                2200,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_SIGNATURE', message: 'Invalid or missing webhook signature' }) }}",
                "options": {
                    "responseCode": 401,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-invalid-signature",
            "name": "Respond - Invalid Signature",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_URL', message: $json.error }) }}",
                "options": {
                    "responseCode": 400,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-invalid-url",
            "name": "Respond - Invalid URL",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'REPO_NOT_FOUND', message: $json.error, requires_auth: $json.requires_auth || false }) }}",
                "options": {
                    "responseCode": 404,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-repo-not-found",
            "name": "Respond - Repo Not Found",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1760,
                200
            ]
        },
        {
            "parameters": {
                "content": "## DocuGitHub 1 - Session Initialize\n\n**Endpoint:** POST /webhook/initialize\n\n**Input:**\n```json\n{\n  \"repo_url\": \"https://github.com/owner/repo\",\n  \"session_id\": \"uuid\",\n  \"user_id\": \"optional\"\n}\n```\n\n**Headers:**\n- x-webhook-signature: HMAC SHA256\n\n**Flow:**\n1. Validate HMAC signature\n2. Parse & validate GitHub URL\n3. Check repo exists via GitHub API\n4. Create session in Supabase\n5. Return repo info & limitations",
                "height": 380,
                "width": 320
            },
            "id": "sticky-note",
            "name": "Workflow Documentation",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -300,
                100
            ]
        }
    ],
    "connections": {
        "Webhook - Initialize": {
            "main": [
                [
                    {
                        "node": "Validate HMAC Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate HMAC Signature": {
            "main": [
                [
                    {
                        "node": "IF Signature Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Signature Valid": {
            "main": [
                [
                    {
                        "node": "Parse & Validate Repo URL",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Invalid Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse & Validate Repo URL": {
            "main": [
                [
                    {
                        "node": "IF URL Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF URL Valid": {
            "main": [
                [
                    {
                        "node": "Check Repo Exists (GitHub API)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Invalid URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Repo Exists (GitHub API)": {
            "main": [
                [
                    {
                        "node": "Process Repo Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Repo Response": {
            "main": [
                [
                    {
                        "node": "IF Repo Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Repo Exists": {
            "main": [
                [
                    {
                        "node": "Create Session in Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Repo Not Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Session in Supabase": {
            "main": [
                [
                    {
                        "node": "Build Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Success Response": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "DocuGitHub"
        }
    ],
    "triggerCount": 1,
    "pinData": {}
}