n8n/workflows/2-repository-analysis.json
{
    "name": "DocuGithub 2 - Repository Analysis",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "analyze",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook - Analyze",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                300
            ],
            "webhookId": "docugithub-analyze"
        },
        {
            "parameters": {
                "jsCode": "// Validate HMAC signature\nconst crypto = require('crypto');\n\nconst webhookSecret = $env.WEBHOOK_SECRET;\nconst signature = $input.first().json.headers['x-webhook-signature'];\nconst body = $input.first().json.body;\n\nif (!webhookSecret) {\n  throw new Error('WEBHOOK_SECRET environment variable not configured');\n}\n\nif (!signature) {\n  return [{ json: { valid: false, error: 'Missing signature header' } }];\n}\n\nconst expectedSignature = crypto\n  .createHmac('sha256', webhookSecret)\n  .update(JSON.stringify(body))\n  .digest('hex');\n\nconst isValid = crypto.timingSafeEqual(\n  Buffer.from(signature),\n  Buffer.from('sha256=' + expectedSignature)\n);\n\nreturn [{ json: { valid: isValid, body: body } }];"
            },
            "id": "validate-hmac",
            "name": "Validate HMAC Signature",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "sig-valid",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-signature-valid",
            "name": "IF Signature Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.body.session_id }}"
                        }
                    ]
                }
            },
            "id": "fetch-session",
            "name": "Fetch Session from Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                660,
                200
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "session-exists",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            },
                            "leftValue": "={{ $json.id }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-session-exists",
            "name": "IF Session Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                880,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepare for GitHub API call\nconst session = $input.first().json;\nconst requestBody = $('IF Signature Valid').first().json.body;\nconst githubToken = requestBody.github_token;\n\nreturn [{ json: {\n  session_id: session.id,\n  owner: session.repo_owner,\n  repo: session.repo_name,\n  default_branch: session.default_branch,\n  is_private: session.is_private,\n  github_token: githubToken || null\n} }];"
            },
            "id": "prepare-github-request",
            "name": "Prepare GitHub Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                100
            ]
        },
        {
            "parameters": {
                "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/git/trees/{{ $json.default_branch }}?recursive=1",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/vnd.github+json"
                        },
                        {
                            "name": "X-GitHub-Api-Version",
                            "value": "2022-11-28"
                        },
                        {
                            "name": "User-Agent",
                            "value": "DocuGitHub-n8n"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "neverError": true
                        }
                    }
                }
            },
            "id": "fetch-file-tree",
            "name": "Fetch File Tree",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1320,
                100
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_GITHUB_TOKEN_ID",
                    "name": "GitHub Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Filter and extract file structure\nconst response = $input.first().json;\nconst prevData = $('Prepare GitHub Request').first().json;\n\nif (response.statusCode !== 200) {\n  throw new Error('Failed to fetch file tree: ' + response.statusCode);\n}\n\nconst tree = response.body.tree || [];\n\n// Filter out unwanted directories and files\nconst EXCLUDED_DIRS = ['node_modules', '.git', 'dist', 'build', '__pycache__', 'vendor', '.venv', 'coverage'];\nconst CODE_EXTENSIONS = ['.js', '.ts', '.jsx', '.tsx', '.py', '.go', '.rs', '.java', '.rb', '.php', '.c', '.cpp', '.h', '.cs'];\nconst CONFIG_FILES = ['package.json', 'tsconfig.json', 'pyproject.toml', 'Cargo.toml', 'go.mod', 'Gemfile', 'requirements.txt', 'Dockerfile', 'docker-compose.yml'];\n\nconst files = tree.filter(item => {\n  if (item.type !== 'blob') return false;\n  \n  const path = item.path.toLowerCase();\n  \n  // Exclude unwanted directories\n  for (const dir of EXCLUDED_DIRS) {\n    if (path.includes(dir + '/')) return false;\n  }\n  \n  // Include code files and config files\n  const isCodeFile = CODE_EXTENSIONS.some(ext => path.endsWith(ext));\n  const isConfigFile = CONFIG_FILES.some(name => path.endsWith(name.toLowerCase()));\n  const isReadme = path.includes('readme');\n  \n  return isCodeFile || isConfigFile || isReadme;\n}).slice(0, 100);\n\nconst fileStructure = files.map(f => f.path).join('\\n');\n\nreturn [{ json: {\n  session_id: prevData.session_id,\n  owner: prevData.owner,\n  repo: prevData.repo,\n  fileStructure,\n  fileCount: files.length,\n  truncated: tree.length > 100\n} }];"
            },
            "id": "filter-files",
            "name": "Filter & Extract Files",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1540,
                100
            ]
        },
        {
            "parameters": {
                "text": "=You are a Senior Software Architect analyzing a GitHub repository to generate documentation.\n\nRepository: {{ $json.owner }}/{{ $json.repo }}\n\nFile Structure:\n{{ $json.fileStructure }}\n\nAnalyze this repository and provide a structured JSON response:\n\n{\n  \"project_purpose\": \"2-3 sentence description of what this project does\",\n  \"tech_stack\": {\n    \"languages\": [\"primary languages\"],\n    \"frameworks\": [\"frameworks used\"],\n    \"build_tools\": [\"build/bundler tools\"],\n    \"testing\": [\"testing frameworks\"],\n    \"databases\": [\"if applicable\"],\n    \"cloud\": [\"cloud services if applicable\"]\n  },\n  \"architecture\": {\n    \"pattern\": \"monolith/microservices/serverless/etc\",\n    \"structure_explanation\": \"brief explanation of directory structure\",\n    \"key_components\": [{\"name\": \"component\", \"responsibility\": \"what it does\"}]\n  },\n  \"key_features\": [\"list of 5-10 main features\"],\n  \"installation_steps\": [\"step by step installation\"],\n  \"usage_examples\": [{\"description\": \"what it does\", \"code\": \"example code\"}],\n  \"recommended_sections\": [\"README sections to include\"],\n  \"badges\": [{\"type\": \"badge type\", \"label\": \"display label\"}]\n}\n\nRespond with ONLY the JSON, no markdown or explanation.",
                "hasOutputParser": false,
                "options": {}
            },
            "id": "llm-chain-analyze",
            "name": "LLM Chain: Analyze",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                1760,
                100
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash-exp",
                "options": {}
            },
            "id": "gemini-analyze",
            "name": "Gemini: Analyze",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1760,
                320
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_GEMINI_ID",
                    "name": "Google Gemini"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Process Gemini response\nconst response = $input.first().json;\nconst prevData = $('Filter & Extract Files').first().json;\n\nlet analysis;\ntry {\n  analysis = JSON.parse(response.text);\n} catch (e) {\n  const jsonMatch = response.text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[1]);\n  } else {\n    analysis = { raw_response: response.text };\n  }\n}\n\nreturn [{ json: {\n  session_id: prevData.session_id,\n  owner: prevData.owner,\n  repo: prevData.repo,\n  analysis,\n  file_count: prevData.fileCount\n} }];"
            },
            "id": "process-gemini-response",
            "name": "Process Gemini Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1980,
                100
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.session_id }}"
                        }
                    ]
                },
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "analysis",
                            "fieldValue": "={{ JSON.stringify($json.analysis) }}"
                        },
                        {
                            "fieldName": "status",
                            "fieldValue": "analyzed"
                        },
                        {
                            "fieldName": "analyzed_at",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        }
                    ]
                }
            },
            "id": "update-session-analysis",
            "name": "Store Analysis in Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2200,
                100
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $('Process Gemini Response').first().json;\n\nreturn [{ json: {\n  success: true,\n  session_id: data.session_id,\n  analysis: data.analysis,\n  files_analyzed: data.file_count\n} }];"
            },
            "id": "build-success-response",
            "name": "Build Success Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2420,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                2640,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_SIGNATURE', message: 'Invalid or missing webhook signature' }) }}",
                "options": {
                    "responseCode": 401,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-invalid-signature",
            "name": "Respond - Invalid Signature",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'SESSION_NOT_FOUND', message: 'Session not found' }) }}",
                "options": {
                    "responseCode": 404,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-session-not-found",
            "name": "Respond - Session Not Found",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "content": "## DocuGitHub 2 - Repository Analysis\n\n**Endpoint:** POST /webhook/analyze\n\n**Input:**\n```json\n{\n  \"session_id\": \"uuid\",\n  \"github_token\": \"optional\"\n}\n```\n\n**Flow:**\n1. Validate HMAC signature\n2. Fetch session from Supabase\n3. Fetch file tree from GitHub API\n4. Filter relevant files\n5. Send to Gemini for analysis\n6. Store analysis in Supabase\n7. Return analysis results",
                "height": 360,
                "width": 320
            },
            "id": "sticky-note",
            "name": "Workflow Documentation",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -300,
                100
            ]
        }
    ],
    "connections": {
        "Webhook - Analyze": {
            "main": [
                [
                    {
                        "node": "Validate HMAC Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate HMAC Signature": {
            "main": [
                [
                    {
                        "node": "IF Signature Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Signature Valid": {
            "main": [
                [
                    {
                        "node": "Fetch Session from Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Invalid Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Session from Supabase": {
            "main": [
                [
                    {
                        "node": "IF Session Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Session Exists": {
            "main": [
                [
                    {
                        "node": "Prepare GitHub Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Session Not Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare GitHub Request": {
            "main": [
                [
                    {
                        "node": "Fetch File Tree",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch File Tree": {
            "main": [
                [
                    {
                        "node": "Filter & Extract Files",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter & Extract Files": {
            "main": [
                [
                    {
                        "node": "LLM Chain: Analyze",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Analyze": {
            "ai_languageModel": [
                [
                    {
                        "node": "LLM Chain: Analyze",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "LLM Chain: Analyze": {
            "main": [
                [
                    {
                        "node": "Process Gemini Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Gemini Response": {
            "main": [
                [
                    {
                        "node": "Store Analysis in Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Analysis in Supabase": {
            "main": [
                [
                    {
                        "node": "Build Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Success Response": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "DocuGitHub"
        }
    ],
    "pinData": {}
}