n8n/workflows/4-readme-generate.json
{
    "name": "DocuGithub 4 - README Generate",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook - Generate",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                300
            ],
            "webhookId": "docugithub-generate"
        },
        {
            "parameters": {
                "jsCode": "// Validate HMAC signature\nconst crypto = require('crypto');\n\nconst webhookSecret = $env.WEBHOOK_SECRET;\nconst signature = $input.first().json.headers['x-webhook-signature'];\nconst body = $input.first().json.body;\n\nif (!webhookSecret) {\n  throw new Error('WEBHOOK_SECRET environment variable not configured');\n}\n\nif (!signature) {\n  return [{ json: { valid: false, error: 'Missing signature header' } }];\n}\n\nconst expectedSignature = crypto\n  .createHmac('sha256', webhookSecret)\n  .update(JSON.stringify(body))\n  .digest('hex');\n\nconst isValid = crypto.timingSafeEqual(\n  Buffer.from(signature),\n  Buffer.from('sha256=' + expectedSignature)\n);\n\nreturn [{ json: { valid: isValid, body: body } }];"
            },
            "id": "validate-hmac",
            "name": "Validate HMAC Signature",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "sig-valid",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-signature-valid",
            "name": "IF Signature Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.body.session_id }}"
                        }
                    ]
                }
            },
            "id": "fetch-session",
            "name": "Fetch Session",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                660,
                200
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "session-exists",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            },
                            "leftValue": "={{ $json.id }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-session-exists",
            "name": "IF Session Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                880,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepare data for README generation\nconst session = $input.first().json;\n\nconst analysis = typeof session.analysis === 'string' ? JSON.parse(session.analysis) : (session.analysis || {});\nconst preferences = typeof session.preferences === 'string' ? JSON.parse(session.preferences) : (session.preferences || {});\n\nreturn [{ json: {\n  session_id: session.id,\n  owner: session.repo_owner,\n  repo: session.repo_name,\n  analysis,\n  preferences: {\n    tone: preferences.tone || 'professional',\n    sections: preferences.sections || ['overview', 'installation', 'usage', 'contributing', 'license'],\n    badges: preferences.badges || ['license', 'version'],\n    include_toc: preferences.include_toc !== false,\n    emoji_style: preferences.emoji_style || 'minimal'\n  }\n} }];"
            },
            "id": "prepare-generation",
            "name": "Prepare Generation Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                100
            ]
        },
        {
            "parameters": {
                "text": "=You are an expert Technical Writer creating a comprehensive README.md file.\n\n## Repository: {{ $json.owner }}/{{ $json.repo }}\n\n## Project Analysis:\n{{ JSON.stringify($json.analysis, null, 2) }}\n\n## User Preferences:\n- Tone: {{ $json.preferences.tone }}\n- Include Table of Contents: {{ $json.preferences.include_toc }}\n- Emoji Style: {{ $json.preferences.emoji_style }}\n- Sections to include: {{ $json.preferences.sections.join(', ') }}\n- Badges to include: {{ $json.preferences.badges.join(', ') }}\n\n## Instructions:\nGenerate a complete, production-ready README.md with:\n\n1. Project Title with appropriate badges (shields.io style)\n2. Brief, compelling project description\n3. Table of Contents (if include_toc is true)\n4. All requested sections with proper markdown formatting\n5. Code examples with proper syntax highlighting\n6. Clear installation and usage instructions\n7. Contributing guidelines\n8. License information\n\nMatch the specified tone ({{ $json.preferences.tone }}) throughout.\nUse {{ $json.preferences.emoji_style }} emoji style.\n\nOutput ONLY the raw Markdown content. No explanations or code blocks wrapping the result.",
                "hasOutputParser": false,
                "options": {}
            },
            "id": "llm-chain-generate",
            "name": "LLM Chain: Generate",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                1320,
                100
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash-exp",
                "options": {}
            },
            "id": "gemini-generate",
            "name": "Gemini: Generate",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1320,
                320
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_GEMINI_ID",
                    "name": "Google Gemini"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Clean up generated README\nconst response = $input.first().json;\nconst prevData = $('Prepare Generation Data').first().json;\n\nlet readme = response.text || '';\n\n// Strip markdown code block wrappers if present\nif (readme.startsWith('```markdown')) readme = readme.slice(11);\nif (readme.startsWith('```md')) readme = readme.slice(5);\nif (readme.startsWith('```')) readme = readme.slice(3);\nif (readme.endsWith('```')) readme = readme.slice(0, -3);\nreadme = readme.trim();\n\nreturn [{ json: {\n  session_id: prevData.session_id,\n  owner: prevData.owner,\n  repo: prevData.repo,\n  generated_readme: readme,\n  version: 1\n} }];"
            },
            "id": "process-readme",
            "name": "Process Generated README",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1540,
                100
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "readme_versions",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "session_id",
                            "fieldValue": "={{ $json.session_id }}"
                        },
                        {
                            "fieldName": "version",
                            "fieldValue": "1"
                        },
                        {
                            "fieldName": "content",
                            "fieldValue": "={{ $json.generated_readme }}"
                        },
                        {
                            "fieldName": "changes_summary",
                            "fieldValue": "Initial generation"
                        },
                        {
                            "fieldName": "created_at",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        }
                    ]
                }
            },
            "id": "create-version",
            "name": "Create Version Record",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1760,
                100
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Process Generated README').first().json.session_id }}"
                        }
                    ]
                },
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "generated_readme",
                            "fieldValue": "={{ $('Process Generated README').first().json.generated_readme }}"
                        },
                        {
                            "fieldName": "current_version",
                            "fieldValue": "1"
                        },
                        {
                            "fieldName": "status",
                            "fieldValue": "generated"
                        },
                        {
                            "fieldName": "updated_at",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        }
                    ]
                }
            },
            "id": "update-session",
            "name": "Update Session",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1980,
                100
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, session_id: $('Process Generated README').first().json.session_id, readme: $('Process Generated README').first().json.generated_readme, version: 1 }) }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                2200,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_SIGNATURE', message: 'Invalid or missing webhook signature' }) }}",
                "options": {
                    "responseCode": 401,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-invalid-signature",
            "name": "Respond - Invalid Signature",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'SESSION_NOT_FOUND', message: 'Session not found' }) }}",
                "options": {
                    "responseCode": 404,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-session-not-found",
            "name": "Respond - Session Not Found",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "content": "## DocuGitHub 4 - README Generate\n\n**Endpoint:** POST /webhook/generate\n\n**Input:**\n```json\n{\n  \"session_id\": \"uuid\"\n}\n```\n\n**Flow:**\n1. Validate HMAC signature\n2. Fetch session with analysis + preferences\n3. Generate README with Gemini\n4. Store first version\n5. Update session\n6. Return generated README",
                "height": 320,
                "width": 320
            },
            "id": "sticky-note",
            "name": "Workflow Documentation",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -300,
                100
            ]
        }
    ],
    "connections": {
        "Webhook - Generate": {
            "main": [
                [
                    {
                        "node": "Validate HMAC Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate HMAC Signature": {
            "main": [
                [
                    {
                        "node": "IF Signature Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Signature Valid": {
            "main": [
                [
                    {
                        "node": "Fetch Session",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Invalid Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Session": {
            "main": [
                [
                    {
                        "node": "IF Session Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Session Exists": {
            "main": [
                [
                    {
                        "node": "Prepare Generation Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Session Not Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Generation Data": {
            "main": [
                [
                    {
                        "node": "LLM Chain: Generate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Generate": {
            "ai_languageModel": [
                [
                    {
                        "node": "LLM Chain: Generate",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "LLM Chain: Generate": {
            "main": [
                [
                    {
                        "node": "Process Generated README",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Generated README": {
            "main": [
                [
                    {
                        "node": "Create Version Record",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Version Record": {
            "main": [
                [
                    {
                        "node": "Update Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Session": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "DocuGitHub"
        }
    ],
    "pinData": {}
}