n8n/workflows/5-chat-revision.json
{
    "name": "DocuGithub 5 - Chat Revision",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook - Chat",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                300
            ],
            "webhookId": "docugithub-chat"
        },
        {
            "parameters": {
                "jsCode": "// Validate HMAC signature\nconst crypto = require('crypto');\n\nconst webhookSecret = $env.WEBHOOK_SECRET;\nconst signature = $input.first().json.headers['x-webhook-signature'];\nconst body = $input.first().json.body;\n\nif (!webhookSecret) {\n  throw new Error('WEBHOOK_SECRET environment variable not configured');\n}\n\nif (!signature) {\n  return [{ json: { valid: false, error: 'Missing signature header' } }];\n}\n\nconst expectedSignature = crypto\n  .createHmac('sha256', webhookSecret)\n  .update(JSON.stringify(body))\n  .digest('hex');\n\nconst isValid = crypto.timingSafeEqual(\n  Buffer.from(signature),\n  Buffer.from('sha256=' + expectedSignature)\n);\n\nreturn [{ json: { valid: isValid, body: body } }];"
            },
            "id": "validate-hmac",
            "name": "Validate HMAC Signature",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "sig-valid",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-signature-valid",
            "name": "IF Signature Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Validate chat request\nconst body = $input.first().json.body;\nconst { session_id, message, current_readme, section_context } = body;\n\nconst errors = [];\n\nif (!session_id) errors.push('session_id is required');\nif (!message || typeof message !== 'string' || message.trim().length === 0) errors.push('message is required');\nif (message && message.length > 10000) errors.push('message must be less than 10000 characters');\nif (!current_readme || typeof current_readme !== 'string') errors.push('current_readme is required');\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, errors } }];\n}\n\nreturn [{ json: {\n  valid: true,\n  session_id,\n  message: message.trim(),\n  current_readme,\n  section_context: section_context || null\n} }];"
            },
            "id": "validate-request",
            "name": "Validate Chat Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "request-valid",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-request-valid",
            "name": "IF Request Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                880,
                200
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.session_id }}"
                        }
                    ]
                }
            },
            "id": "fetch-session",
            "name": "Fetch Session",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1100,
                100
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "session-exists",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            },
                            "leftValue": "={{ $json.id }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-session-exists",
            "name": "IF Session Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                1320,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepare revision prompt\nconst session = $input.first().json;\nconst chatRequest = $('IF Request Valid').first().json;\n\nconst analysis = typeof session.analysis === 'string' ? JSON.parse(session.analysis) : (session.analysis || {});\nconst preferences = typeof session.preferences === 'string' ? JSON.parse(session.preferences) : (session.preferences || {});\nconst currentVersion = session.current_version || 1;\nconst newVersion = currentVersion + 1;\n\nreturn [{ json: {\n  session_id: session.id,\n  owner: session.repo_owner,\n  repo: session.repo_name,\n  message: chatRequest.message,\n  current_readme: chatRequest.current_readme,\n  section_context: chatRequest.section_context,\n  current_version: currentVersion,\n  new_version: newVersion,\n  tone: preferences.tone || 'professional',\n  emoji_style: preferences.emoji_style || 'minimal'\n} }];"
            },
            "id": "prepare-revision",
            "name": "Prepare Revision Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1540,
                0
            ]
        },
        {
            "parameters": {
                "text": "=You are an AI assistant helping to revise a README.md file based on user feedback.\n\n## Repository: {{ $json.owner }}/{{ $json.repo }}\n\n## User Preferences:\n- Tone: {{ $json.tone }}\n- Emoji Style: {{ $json.emoji_style }}\n\n## Current README (Version {{ $json.current_version }}):\n```markdown\n{{ $json.current_readme }}\n```\n\n{{ $json.section_context ? '## Section Context\\nThe user is referring to: ' + $json.section_context : '' }}\n\n## User's Revision Request:\n\"{{ $json.message }}\"\n\n## Instructions:\n1. Analyze the user's request carefully\n2. Make the requested changes while:\n   - Maintaining consistency with existing style\n   - Preserving sections not mentioned\n   - Keeping proper markdown formatting\n   - Following the tone ({{ $json.tone }})\n\n## Response Format:\nRespond with JSON:\n{\n  \"revised_readme\": \"<complete updated README markdown>\",\n  \"changes_summary\": \"<brief bullet-point summary of changes>\",\n  \"sections_modified\": [\"<list of section names changed>\"]\n}\n\nRespond with ONLY the JSON object.",
                "hasOutputParser": false,
                "options": {}
            },
            "id": "llm-chain-revise",
            "name": "LLM Chain: Revise",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                1760,
                0
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash-exp",
                "options": {}
            },
            "id": "gemini-revise",
            "name": "Gemini: Revise",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1760,
                220
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_GEMINI_ID",
                    "name": "Google Gemini"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Process revision response\nconst response = $input.first().json;\nconst prevData = $('Prepare Revision Data').first().json;\n\nlet result;\ntry {\n  result = JSON.parse(response.text);\n} catch (e) {\n  const jsonMatch = response.text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[1]);\n  } else {\n    throw new Error('Failed to parse response');\n  }\n}\n\nlet readme = result.revised_readme || '';\nif (readme.startsWith('```')) readme = readme.replace(/```(?:markdown|md)?/g, '').trim();\n\nreturn [{ json: {\n  session_id: prevData.session_id,\n  revised_readme: readme,\n  changes_summary: result.changes_summary || 'Changes applied',\n  sections_modified: result.sections_modified || [],\n  version: prevData.new_version,\n  user_message: prevData.message\n} }];"
            },
            "id": "process-revision",
            "name": "Process Revision Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1980,
                0
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "tableId": "readme_versions",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "session_id",
                            "fieldValue": "={{ $json.session_id }}"
                        },
                        {
                            "fieldName": "version",
                            "fieldValue": "={{ $json.version }}"
                        },
                        {
                            "fieldName": "content",
                            "fieldValue": "={{ $json.revised_readme }}"
                        },
                        {
                            "fieldName": "changes_summary",
                            "fieldValue": "={{ $json.changes_summary }}"
                        },
                        {
                            "fieldName": "user_message",
                            "fieldValue": "={{ $json.user_message }}"
                        },
                        {
                            "fieldName": "created_at",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        }
                    ]
                }
            },
            "id": "create-new-version",
            "name": "Create New Version",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2200,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Process Revision Response').first().json.session_id }}"
                        }
                    ]
                },
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "generated_readme",
                            "fieldValue": "={{ $('Process Revision Response').first().json.revised_readme }}"
                        },
                        {
                            "fieldName": "current_version",
                            "fieldValue": "={{ $('Process Revision Response').first().json.version }}"
                        },
                        {
                            "fieldName": "status",
                            "fieldValue": "revised"
                        },
                        {
                            "fieldName": "updated_at",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        }
                    ]
                }
            },
            "id": "update-session-version",
            "name": "Update Session Version",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2420,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, session_id: $('Process Revision Response').first().json.session_id, revised_readme: $('Process Revision Response').first().json.revised_readme, version: $('Process Revision Response').first().json.version, changes_summary: $('Process Revision Response').first().json.changes_summary, sections_modified: $('Process Revision Response').first().json.sections_modified }) }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                2640,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_SIGNATURE', message: 'Invalid or missing webhook signature' }) }}",
                "options": {
                    "responseCode": 401,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-invalid-signature",
            "name": "Respond - Invalid Signature",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_REQUEST', message: 'Invalid request', errors: $json.errors }) }}",
                "options": {
                    "responseCode": 400,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-invalid-request",
            "name": "Respond - Invalid Request",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'SESSION_NOT_FOUND', message: 'Session not found' }) }}",
                "options": {
                    "responseCode": 404,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-session-not-found",
            "name": "Respond - Session Not Found",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1540,
                200
            ]
        },
        {
            "parameters": {
                "content": "## DocuGitHub 5 - Chat Revision\n\n**Endpoint:** POST /webhook/chat\n\n**Input:**\n```json\n{\n  \"session_id\": \"uuid\",\n  \"message\": \"Add a Docker section\",\n  \"current_readme\": \"# Project...\",\n  \"section_context\": \"optional\"\n}\n```\n\n**Output:**\n```json\n{\n  \"revised_readme\": \"...\",\n  \"version\": 2,\n  \"changes_summary\": \"...\",\n  \"sections_modified\": [\"...\"]\n}\n```",
                "height": 380,
                "width": 320
            },
            "id": "sticky-note",
            "name": "Workflow Documentation",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -300,
                20
            ]
        }
    ],
    "connections": {
        "Webhook - Chat": {
            "main": [
                [
                    {
                        "node": "Validate HMAC Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate HMAC Signature": {
            "main": [
                [
                    {
                        "node": "IF Signature Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Signature Valid": {
            "main": [
                [
                    {
                        "node": "Validate Chat Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Invalid Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Chat Request": {
            "main": [
                [
                    {
                        "node": "IF Request Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Request Valid": {
            "main": [
                [
                    {
                        "node": "Fetch Session",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Invalid Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Session": {
            "main": [
                [
                    {
                        "node": "IF Session Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Session Exists": {
            "main": [
                [
                    {
                        "node": "Prepare Revision Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Session Not Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Revision Data": {
            "main": [
                [
                    {
                        "node": "LLM Chain: Revise",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Revise": {
            "ai_languageModel": [
                [
                    {
                        "node": "LLM Chain: Revise",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "LLM Chain: Revise": {
            "main": [
                [
                    {
                        "node": "Process Revision Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Revision Response": {
            "main": [
                [
                    {
                        "node": "Create New Version",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create New Version": {
            "main": [
                [
                    {
                        "node": "Update Session Version",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Session Version": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "DocuGitHub"
        }
    ],
    "pinData": {}
}