n8n/workflows/6-github-push.json
{
    "name": "DocuGithub 6 - GitHub Push",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "push",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook - Push",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                300
            ],
            "webhookId": "docugithub-push"
        },
        {
            "parameters": {
                "jsCode": "// Validate HMAC signature\nconst crypto = require('crypto');\n\nconst webhookSecret = $env.WEBHOOK_SECRET;\nconst signature = $input.first().json.headers['x-webhook-signature'];\nconst body = $input.first().json.body;\n\nif (!webhookSecret) {\n  throw new Error('WEBHOOK_SECRET environment variable not configured');\n}\n\nif (!signature) {\n  return [{ json: { valid: false, error: 'Missing signature header' } }];\n}\n\nconst expectedSignature = crypto\n  .createHmac('sha256', webhookSecret)\n  .update(JSON.stringify(body))\n  .digest('hex');\n\nconst isValid = crypto.timingSafeEqual(\n  Buffer.from(signature),\n  Buffer.from('sha256=' + expectedSignature)\n);\n\nreturn [{ json: { valid: isValid, body: body } }];"
            },
            "id": "validate-hmac",
            "name": "Validate HMAC Signature",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "sig-valid",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            },
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-signature-valid",
            "name": "IF Signature Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.body.session_id }}"
                        }
                    ]
                }
            },
            "id": "fetch-session",
            "name": "Fetch Session",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                660,
                200
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "session-exists",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            },
                            "leftValue": "={{ $json.id }}",
                            "rightValue": ""
                        },
                        {
                            "id": "has-user",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            },
                            "leftValue": "={{ $json.user_id }}",
                            "rightValue": ""
                        }
                    ]
                }
            },
            "id": "if-session-has-user",
            "name": "IF Session Has User",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                880,
                200
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "users",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.user_id }}"
                        }
                    ]
                }
            },
            "id": "fetch-user",
            "name": "Fetch User GitHub Token",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1100,
                100
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Prepare push data\nconst session = $('IF Session Has User').first().json;\nconst user = $input.first().json;\nconst requestBody = $('IF Signature Valid').first().json.body;\n\nif (!user.github_token) {\n  return [{ json: { error: true, code: 'NO_TOKEN', message: 'User has no GitHub token' } }];\n}\n\nconst content = requestBody.readme_content || session.generated_readme;\nconst commitMessage = requestBody.commit_message || `docs: Update README via DocuGithub (v${session.current_version || 1})`;\n\nreturn [{ json: {\n  session_id: session.id,\n  owner: session.repo_owner,\n  repo: session.repo_name,\n  default_branch: session.default_branch || 'main',\n  readme_content: content,\n  commit_message: commitMessage,\n  github_token: user.github_token,\n  user_id: user.id,\n  current_version: session.current_version || 1\n} }];"
            },
            "id": "prepare-push",
            "name": "Prepare Push Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1320,
                100
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "has-token",
                            "operator": {
                                "type": "boolean",
                                "operation": "notEquals"
                            },
                            "leftValue": "={{ $json.error }}",
                            "rightValue": true
                        }
                    ]
                }
            },
            "id": "if-has-token",
            "name": "IF Has Valid Token",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                1540,
                100
            ]
        },
        {
            "parameters": {
                "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/README.md",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/vnd.github+json"
                        },
                        {
                            "name": "X-GitHub-Api-Version",
                            "value": "2022-11-28"
                        },
                        {
                            "name": "User-Agent",
                            "value": "DocuGitHub-n8n"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $json.github_token }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "neverError": true
                        }
                    }
                }
            },
            "id": "check-readme-exists",
            "name": "Check README Exists",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1760,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Process SHA response and prepare for PUT\nconst response = $input.first().json;\nconst pushData = $('IF Has Valid Token').first().json;\n\nconst isNewFile = response.statusCode === 404;\nconst sha = response.body?.sha || null;\n\nreturn [{ json: {\n  ...pushData,\n  sha,\n  is_new_file: isNewFile\n} }];"
            },
            "id": "process-sha",
            "name": "Process SHA Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1980,
                0
            ]
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/README.md",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.commit_message) }},\n  \"content\": {{ JSON.stringify(Buffer.from($json.readme_content).toString('base64')) }},\n  \"branch\": {{ JSON.stringify($json.default_branch) }}{{ $json.sha ? ', \"sha\": ' + JSON.stringify($json.sha) : '' }}\n}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/vnd.github+json"
                        },
                        {
                            "name": "X-GitHub-Api-Version",
                            "value": "2022-11-28"
                        },
                        {
                            "name": "User-Agent",
                            "value": "DocuGitHub-n8n"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $json.github_token }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "neverError": true
                        }
                    }
                }
            },
            "id": "push-to-github",
            "name": "Push to GitHub",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                2200,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Process push response\nconst response = $input.first().json;\nconst pushData = $('Process SHA Response').first().json;\n\nif (response.statusCode === 200 || response.statusCode === 201) {\n  const commit = response.body.commit;\n  return [{ json: {\n    success: true,\n    session_id: pushData.session_id,\n    commit_sha: commit.sha,\n    commit_url: commit.html_url,\n    is_new_file: pushData.is_new_file\n  } }];\n}\n\nif (response.statusCode === 409) {\n  throw new Error('Conflict: README was modified. Please retry.');\n}\n\nif (response.statusCode === 403) {\n  throw new Error('Permission denied. Token may lack write access.');\n}\n\nthrow new Error(`GitHub API error: ${response.statusCode}`);"
            },
            "id": "process-push-response",
            "name": "Process Push Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2420,
                0
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "sessions",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.session_id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldName": "status",
                            "fieldValue": "pushed"
                        },
                        {
                            "fieldName": "pushed_at",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        },
                        {
                            "fieldName": "commit_sha",
                            "fieldValue": "={{ $json.commit_sha }}"
                        },
                        {
                            "fieldName": "commit_url",
                            "fieldValue": "={{ $json.commit_url }}"
                        }
                    ]
                }
            },
            "id": "update-session-pushed",
            "name": "Update Session - Pushed",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2640,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, session_id: $('Process Push Response').first().json.session_id, commit_sha: $('Process Push Response').first().json.commit_sha, commit_url: $('Process Push Response').first().json.commit_url }) }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                2860,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'INVALID_SIGNATURE', message: 'Invalid or missing webhook signature' }) }}",
                "options": {
                    "responseCode": 401,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-invalid-signature",
            "name": "Respond - Invalid Signature",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: 'AUTH_REQUIRED', message: 'GitHub OAuth authentication required to push' }) }}",
                "options": {
                    "responseCode": 401,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-auth-required",
            "name": "Respond - Auth Required",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ error: true, code: $json.code, message: $json.message }) }}",
                "options": {
                    "responseCode": 403,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "respond-no-token",
            "name": "Respond - No Token",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1760,
                200
            ]
        },
        {
            "parameters": {
                "content": "## DocuGitHub 6 - GitHub Push\n\n**Endpoint:** POST /webhook/push\n\n**Input:**\n```json\n{\n  \"session_id\": \"uuid\",\n  \"readme_content\": \"optional\",\n  \"commit_message\": \"optional\"\n}\n```\n\n**Requirements:**\n- User must be authenticated via OAuth\n- Session must have user_id\n\n**Flow:**\n1. Validate HMAC signature\n2. Fetch session (needs user_id)\n3. Fetch user's GitHub token\n4. Check if README exists (get SHA)\n5. PUT to GitHub Contents API\n6. Update session with commit info",
                "height": 420,
                "width": 340
            },
            "id": "sticky-note",
            "name": "Workflow Documentation",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -340,
                60
            ]
        }
    ],
    "connections": {
        "Webhook - Push": {
            "main": [
                [
                    {
                        "node": "Validate HMAC Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate HMAC Signature": {
            "main": [
                [
                    {
                        "node": "IF Signature Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Signature Valid": {
            "main": [
                [
                    {
                        "node": "Fetch Session",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Invalid Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Session": {
            "main": [
                [
                    {
                        "node": "IF Session Has User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Session Has User": {
            "main": [
                [
                    {
                        "node": "Fetch User GitHub Token",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Auth Required",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch User GitHub Token": {
            "main": [
                [
                    {
                        "node": "Prepare Push Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Push Data": {
            "main": [
                [
                    {
                        "node": "IF Has Valid Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Has Valid Token": {
            "main": [
                [
                    {
                        "node": "Check README Exists",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - No Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check README Exists": {
            "main": [
                [
                    {
                        "node": "Process SHA Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process SHA Response": {
            "main": [
                [
                    {
                        "node": "Push to GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Push to GitHub": {
            "main": [
                [
                    {
                        "node": "Process Push Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Push Response": {
            "main": [
                [
                    {
                        "node": "Update Session - Pushed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Session - Pushed": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "DocuGitHub"
        }
    ],
    "pinData": {}
}